@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #013c67;
  --color-secondary: #fabe1f;
  --animate-spinLoader: spinLoader 1s linear infinite;
  --font-roboto: "Roboto", sans-serif;
  @keyframes spinLoader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.btn-primary {
  @apply bg-primary text-white border border-primary/60 rounded-[4px] px-5 py-1 text-[16px] font-medium shadow-sm cursor-pointer transition duration-300 ease-in-out hover:bg-primary/85 hover:shadow-md;
}

.btn-secondary {
  @apply bg-white text-primary border-1 border-primary/60 rounded-[4px] px-5 py-1 text-[16px] font-medium shadow-sm cursor-pointer transition duration-300 ease-in-out hover:bg-primary hover:text-white hover:shadow-md hover:border-1;
}

.btn-primary:focus,
.btn-secondary:focus {
  @apply ring-2 ring-primary/50 outline-none;
}

.btn-normal {
  @apply px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer;
}

html,
body {
  @apply font-roboto;
  @apply text-gray-600;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.side-pane {
  transform: translateX(100%);
  animation: slideIn 0.4s linear forwards;
}

.nav-link{
  @apply px-4 py-2 rounded-[4px] text-[15px] font-[200] cursor-pointer hover:bg-gray-200;
}